//Variables
$orange : hsl(31, 77%, 52%);
$blue : hsl(184, 100%, 22%);
$dark-blue : hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$lightgray : hsl(0, 0%, 95%);
$p-size : 15px;
$to-tablet : 768px;
$to-desktop : 1024px;

//Mixins
@mixin sections-in-column {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0;
    height: 100%;
}

@mixin column-in-sections {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    height: 100%;
}

@media screen and (min-width: $to-tablet) {
    main {
        display: flex;
    }
}

//Components

button {
    border: 0;
    background: #fff;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    height: 40px;
    width: 9em;
    border-radius: 20px;
}


*,::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    width: 85%;
    position: absolute;
    transform: translate(7%, 13%);
    @include sections-in-column();
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    color: #fff;
    height: 400px;
    h2 {
        font-family: 'Big Shoulders Display', cursive;
        text-transform: uppercase;
    }
    p {
        font-family: 'Lexend Deca', sans-serif;
        font-size: $p-size;
    }
}

#sedans {
    background: $orange;
}

#suv {
    background: $blue;
}

#luxury {
    background: $dark-blue;
}

.sedan-btn {
    color: $orange;
}

.suv-btn {
    color: $blue;
}

.luxury-btn {
    color: $dark-blue;
}